[2017-10-02 10:06] scalda opened #1 "Crash upon restarting game after inital load correctly the first time"
having a crash with this after adding it and restarting the game the 2nd time, after adding the mod I had no issues loading up and getting in the game but once I restarted it I am getting the below crash

[report](https://pastebin.com/Su8ayYF2)

regards

scalda

[2017-10-02 10:13] IRicTheCoder commented on #1
@scalda That is a problem with the integration between Mini Moos and Mine Addons. A new version of Mine Addons is being released and it should fix the problem ;)

[2017-10-02 10:46] scalda commented on #1
ok thanks any idea how long as i want to get the foolcraft update out today if possible

[2017-10-02 10:52] IRicTheCoder commented on #1
@scalda Just got released now, it is already available on the curse launcher ;)

[2017-10-02 11:05] scalda commented on #1
thanks, this version worked

[2017-10-02 11:05] #1 closed

[2017-10-02 23:53] killerkitt opened #2 "Mini Moo Wont Breed"
- [x] I am using a release version of the mod
- [x] I have mods that integrate with this installed:
     - [x] Tinker's Construct
     - [x] Mine Factory Reloaded
     - [x] Mine Addons
     - [x] Moo Fluids
     - [x] Waila
- [x] I also have other mods installed
- [x] I have searched for this issue previously and it was either (1) not previously reported, or (2) previously fixed and I'm having th

[2017-10-03 00:28] IRicTheCoder commented on #2
@killerkitt This might be a problem in the information I provided on the mod wiki or curse page.

I state these two things:
- Mini Wheat to breed them, made with wheat and blaze powder (can only attract without Tinker's Contruct Addon)
- Allows cows to be breed to give alloy fluids (it only works with alloys that only require 2 fluids)

Let me clarify that for you, you can only breed cows that hav

[2017-10-03 23:32] AlmightyZing opened #3 "Nullpointer exception"
- [ X ] I am using a release version of the mod
- [ X ] I also have other mods installed
- [ X ] I have searched for this issue previously and it was either (1) not previously reported, or (2) previously fixed and I'm having the same problem.
- [ X ] I am crashing and can provide my crash report(s)

## Additional Information
- [ ] Java Version:
     - [ ] Java 6
     - [ ] Java 7
     - [ ] Java 8

[2017-10-04 10:59] scalda commented on #3
same crash as here #https://github.com/scalda/FoolCraft/issues/783

[2017-10-04 11:38] IRicTheCoder commented on #3
@AlmightyZing @scalda I tested this with Ender IO Spawners and had no problems also tried it with MFR and it yields no problems or crashes, but I know what is causing that issues and it should not have corrupted your save, as long as you update to a fixed version.

I will look into this, and about the exact copies it was creating unexpected results, so to prevent crashes I made a workaround that m

[2017-10-04 12:45] AlmightyZing commented on #3
Thanks, It did somehow corrupt the save, but after loading in my backup I haven't had any issues since.

[2017-10-04 12:47] IRicTheCoder commented on #3
@AlmightyZing it was because the error creates a loop of nullpointers, after the fix it should fix itself and prevent further problems. I'm addressing it now and hope to have a fixed version soon ;)

[2017-10-04 14:38] IRicTheCoder commented on #3
@AlmightyZing just added a new version of the mod to curse, should be ready to update soon. It is version 1.1.1 and I would ask that you update it manually on your pack and test it. It should work fine now.

Exact copies will remain disabled, so I can better ensure that cows do not spawn with bugged fluids (that system is what prevents the exact copy ones)

EDIT: This should also fix the corrupted

[2017-10-04 23:08] #2 closed

[2017-10-05 00:41] RicardoTheCoder opened #4 "Some cows yield empty buckets (ID 4100 - Forge Universal Bucket)"
Just a reference to scalda/FoolCraft#785

[2017-10-05 01:02] IRicTheCoder commented on #4
This is a problem with fluid registrations. Some mods are registering their fluids wrong, making forge unable to generate a bucket with the given fluid (maybe the mod has its own bucket item for the fluid?)

Made a verification to prevent milking cows with that bug, also added the possibility of milking cows with a forge bucket. (c575034431344a4ef8af884db2c1d7f72f5f7a78)

Added a double verificati

[2017-10-05 01:04] IRicTheCoder commented on #3
Should be solved as of c575034431344a4ef8af884db2c1d7f72f5f7a78

[2017-10-05 01:04] #3 closed

[2017-10-05 05:56] 3jlowes opened #5 "Cant find the Demon moo or Sacred moo in the overworld, and cant spawn them using MFR"
- [x] I am using a release version of the mod
- [x] I have mods that integrate with this installed:
     - [x] Tinker's Construct
     - [x] Mine Factory Reloaded
     - [x] Mine Addons
     - [x] Moo Fluids
     - [x] Waila
- [x] I also have other mods installed
- [x] I have searched for this issue previously and it was either (1) not previously reported, or (2) previously fixed and I'm having th

[2017-10-05 07:27] iamshift commented on #5
from [wiki](https://github.com/RicardoTheCoder/MiniMoos/wiki)

[2017-10-05 07:37] BrisingrAerowing opened #6 "Startup Crash with 1.2"
- [x] I am using a release version of the mod
- [x] I have mods that integrate with this installed:
     - [x] Tinker's Construct
     - [x] Mine Factory Reloaded
     - [ ] Mine Addons
     - [ ] Moo Fluids
     - [x] Waila
- [x] I also have other mods installed
- [x] I have searched for this issue previously and it was either (1) not previously reported, or (2) previously fixed and I'm having th

[2017-10-05 09:55] IRicTheCoder commented on #5
@3jlowes Let me just quote myself from the mod description/wiki

Also, Demon Moo and Sacred Moos are different entities from the fluid moos. And they are extremely rare to find.

EDIT: If there is a crash-report of something please do send me that

[2017-10-05 10:26] #4 closed

[2017-10-05 10:50] IRicTheCoder commented on #6
@BrisingrAerowing I found the problem, it seems to be with forestry fluids, they are registered and implemented in a custom way, using almost nothing from the forge universal system.

This prevents me from getting all those fluids and actually have them on cows or in a list of containable fluids.

So to allow the use of mods with custom implementations and without causing errors, I updated the Yet

[2017-10-05 15:18] Ghrane opened #7 "Game & Server crash when using Mini Moo in Safari in Auto-Spawner (MineFactory)"
- [X] I am using a release version of the mod
- [X] I have mods that integrate with this installed:
     - [X] Tinker's Construct
     - [X] Mine Factory Reloaded
     - [X] Mine Addons
     - [X] Moo Fluids
     - [X] Waila
- [X] I also have other mods installed
- [X] I have searched for this issue previously and it was either (1) not previously reported, or (2) previously fixed and I'm having th

[2017-10-05 15:23] IRicTheCoder commented on #7
@Ghrane This as been fixed on version 1.1.1 of the mod, which is already present on version 2.3 of FoolCraft. Using the same world on the version 2.3 of FC should also regenerate your world and remove unwanted or bugged cows.

As for Exact Copies, they are disabled to ensure that there aren't bugged cows being spawned, those invisible cows should be an artifact from the client's slave world, and s

[2017-10-05 15:27] Ghrane commented on #7
I have done both the updates now.
Tho I have already overwriten my world with a 1 day old backup, so I cannot confirm the fix yet.
But I'll trust your words.
I couldn't find any update log file, so I thought atleast share the problem.
Good to know it got fixed!

[2017-10-05 15:30] IRicTheCoder commented on #7
@Ghrane No problem and thanks for placing an issue, specially here instead of in foolcraft as it is easier for me to read it and get on fixing it.

I have forced a corrupt save file just to test if it would regenerate, and it did so it should be fine. If you experience any other problems or if the crash happens again, please tell me about it so I could check it.

[2017-10-05 15:31] Ghrane commented on #7
Will do!

[2017-10-05 15:31] #7 closed

[2017-10-06 09:52] RicardoTheCoder opened #8 "Configurable Rates for Moo Spawns"
FOR FUTURE REFERENCE

Add a configurable rate for fool, sacred and demon moo.

[2017-10-06 18:35] Necro9227 opened #9 "Spawning Exact copy via MFR Auto Spawner"
- [ ] I am using a release version of the mod
- [x] I have mods that integrate with this installed:
     - [x] Tinker's Construct
     - [x] Mine Factory Reloaded
     - [x] Mine Addons
     - [x] Moo Fluids
     - [x] Waila
- [x] I also have other mods installed
- [x] I have searched for this issue previously and it was either (1) not previously reported, or (2) previously fixed and I'm having th

[2017-10-06 20:08] IRicTheCoder commented on #9
@Necro9227 This as been answered in issue #7 and it is both in the mod's description and the mod's wiki.

Quoting from the Mod's Description (on Curse):

This is currently in my to-do list, but it is not my priority at the moment. For now exact copies will either yield a random result or no result at all.

[2017-10-06 20:13] #6 closed

[2017-10-06 20:29] IRicTheCoder commented on #8
Added as of 7fbae5b1b0ce005bbf30dc9ef36c4474f13b8541.

[2017-10-06 20:29] #8 closed

[2017-10-07 09:22] zwamdurkel opened #10 "[Suggestion] Add entity icons for journeymap"
I would like to suggest a feature:
Add entity icons to the minimoos so they can easily be spotted on journeymap.

[2017-10-07 10:05] IRicTheCoder commented on #10
I will give it a look on how to do this, and if possible add it

Thanks for your suggestion :)

[2017-10-07 11:37] scalda opened #11 "Crash with foolcraft 2.3.1 and mini moos 1.2"
- [x] I am using a release version of the mod
- [ x] I have mods that integrate with this installed:
     - [x ] Tinker's Construct
     - [x ] Mine Factory Reloaded
     - [x ] Mine Addons
     - [x ] Moo Fluids
     - [x ] Waila
- [ x] I also have other mods installed
- [ x] I have searched for this issue previously and it was either (1) not previously reported, or (2) previously fixed and I'm h

[2017-10-07 11:44] IRicTheCoder commented on #11
@scalda Even though it is being triggered by MiniMoos this is actually a problem with its Core. Just update the YetAnotherCore and it should be fixed :)

Btw, when are you releasing foolcraft 2.3.1?

[2017-10-07 12:17] scalda commented on #11
hi thanks for this for some reason the twitch launcher didn't show there was an update i had to go and grab it manually

[2017-10-07 12:17] #11 closed

[2017-10-09 03:06] dxn000 opened #12 "Mini Wheat not working"
- [ x] I am using a release version of the mod
- [ ] I have mods that integrate with this installed:
     - [x ] Tinker's Construct
     - [x ] Mine Factory Reloaded
     - [ ] Mine Addons
     - [ ] Moo Fluids
     - [ ] Waila
- [x ] I also have other mods installed
- [ ] I have searched for this issue previously and it was either (1) not previously reported, or (2) previously fixed and I'm havin

[2017-10-09 10:35] IRicTheCoder commented on #12
@dxn000 Breeding moos isn't like normal minecraft animals, they have different rules of breeding. This is all explained in the mod's wiki https://github.com/RicardoTheCoder/MiniMoos/wiki/Breeding-Moos.

If you need further information or another explanation on this, please feel free to ask :)

[2017-10-09 10:40] #5 closed

[2017-10-10 17:19] Dinip12 opened #13 "Server Console spam"
- [x] I am using a release version of the mod
- [ ] I have mods that integrate with this installed:
     - [x] Tinker's Construct
     - [x] Mine Factory Reloaded
     - [ ] Mine Addons
     - [x] Moo Fluids
     - [x] Waila
- [x] I also have other mods installed
- [ ] I have searched for this issue previously and it was either (1) not previously reported, or (2) previously fixed and I'm having th

[2017-10-11 10:18] IRicTheCoder commented on #13
@Dinip12 Peço desculpa pela demora na resposta, e para esclarecer, na realidade não é nem um problema do mod nem um problema do foolcraft. Existem varios mods que fazem esse warn, mas o warn em si é problema do minecraft.

Aparentemente o Forge suprime os warns dos mobs vanilla onde isso acontece, no caso do MiniMoos, estou a tentar encontrar uma solução para o problema, ou uma maneira de evitar q

[2017-10-11 10:22] #9 closed

[2017-10-16 14:23] benhavo opened #14 "Molten infinity moos do not spawn, cause crash when forced"
- [ ] I am using a release version of the mod
- [ X] I have mods that integrate with this installed:
     - [ X] Tinker's Construct
     - [ X] Mine Factory Reloaded
     - [ X] Mine Addons
     - [ X] Moo Fluids
     - [ X] Waila
- [ X] I also have other mods installed
- [ X] I have searched for this issue previously and it was either (1) not previously reported, or (2) previously fixed and I'm h

[2017-10-16 14:27] IRicTheCoder commented on #14
@benhavo send me the .txt file of the crashreport, and I will look into that, as this wasn't happen to me and I have found multiple infinity moos when playing foolcraft 2.3.1.

[2017-10-16 14:52] benhavo commented on #14
Thanks for the quick reply. Awesome mod btw.

[crash-2017-10-16_10.47.41-server.txt](https://github.com/RicardoTheCoder/MiniMoos/files/1387880/crash-2017-10-16_10.47.41-server.txt)

[2017-10-16 14:55] benhavo commented on #14
I apologize. I did not intend to close the issue with that comment.

[2017-10-16 17:12] IRicTheCoder commented on #14
@benhavo Are you playing in a server or only in a client? if you are playing in a server, might the configs be different? That might cause this issue, also it could be just the "stupid" ticking entity stuff that minecraft still does. There is a page on the FoolCraft's Wiki about how to fix it.

However I have an idea of what caused it to be triggered, I would say put the config back as it was and

[2017-10-16 17:36] benhavo commented on #14
@RicardoTheCoder Thanks for the info. I'm playing on a client, and the setup I followed has the pack set up on a local server (I guess I should try changing that for some performance boost). I've replaced the config, and it is working as normal again. This must be karma telling me to stop trying to cheat... Hopefully I'll find that infinity moo soon with the default config!

[2017-10-16 18:34] IRicTheCoder commented on #14
@benhavo Check the nether, in the default config it spawns there, you should eventually find it, as it is more common then with Moo Fluids, this will be changed in a newer version of the mod as it will select the spawning places better.

If you have it solved for now, don't close this issue so I remember to fix the problem with it giving that error, thanks.

[2017-10-16 18:34] #12 closed

[2017-10-19 19:18] #10 closed

[2017-10-19 19:21] #14 closed

[2017-10-23 03:02] BrisingrAerowing opened #16 "Startup crash with 1.3.2"
- [X] I am using a release version of the mod
- [X] I have mods that integrate with this installed:
     - [X] Tinker's Construct
     - [X] Mine Factory Reloaded
     - [ ] Mine Addons
     - [ ] Moo Fluids
     - [X] Waila
- [X] I also have other mods installed
- [X] I have searched for this issue previously and it was either (1) not previously reported, or (2) previously fixed and I'm having th

[2017-10-23 10:53] IRicTheCoder commented on #16
@BrisingrAerowing A new version is being uploaded to fix this, just update when its ready and it should fix it :)

EDIT: Its Approved already

EDIT2: Adding a new version as the previous got a problem

EDIT3: Now its approved :P

[2017-10-29 23:14] leasoncre opened #18 "Q: 1.12.1+ support?"
Will this mod be available for use with 1.12.1+(or later versions) packs in the future? if so, when might we see it available?
Thanks.

[2017-10-30 00:26] IRicTheCoder commented on #18
I do plan on getting the mod updated to versions above 1.10.2, but only after I have finished all the features I want to implement. However, I don't have an actual date for that nor can I give you an accurate time.

[2017-10-30 02:00] #18 closed

[2017-10-30 02:01] leasoncre commented on #18
thanks! have fun coding!

[2017-10-31 07:41] grayggr opened #19 "Halloween Moos"
- [x] I am using a release version of the mod
- [x] I have mods that integrate with this installed:
     - [x] Tinker's Construct
     - [x] Mine Factory Reloaded
     - [x] Mine Addons
     - [x] Moo Fluids
     - [x] Waila
     - [x] Avaritia
- [x] I also have other mods installed
- [x] I have searched for this issue previously and it was either (1) not previously reported, or (2) previously fix

[2017-10-31 11:25] IRicTheCoder commented on #19
@grayggr This as been already solved in this issue scalda/FoolCraft#828. This is not an issue from mini moos it is because Moo Fluids was not removed yet in favor of Mini Moos. It was still there so it would convert Moo Fluid's Cows into Mini Moo's Cows, this is not needed anymore and the mod can be removed.

To fix your problem you can reactivate the HalloweenMoos and just remove Moo Fluids.

**N

[2017-10-31 11:27] grayggr commented on #19
Thanks

[2017-10-31 11:27] #19 closed

[2017-10-31 16:06] Lepercy opened #20 "Exception in server tick loop - minimoos / fluidmoos"
- [ ] I am using a release version of the mod
- [x] I have mods that integrate with this installed:
     - [x] Tinker's Construct
     - [x] Mine Factory Reloaded
     - [x] Mine Addons
     - [x] Moo Fluids
     - [x] Waila
     - [x] Avaritia
- [x] I also have other mods installed
- [x] I have searched for this issue previously and it was either (1) not previously reported, or (2) previously fix

[2017-10-31 18:50] IRicTheCoder commented on #20
@Lepercy 3 things a need to know, which configs did you change? Did you add any other mods besides SpongeForge? And did you use any plugins with your SpongeForge?

SpongeForge generates errors with some mods, this could be the case of my mod, and that is something that I cannot fix, as it is the changes SpongeForge does to the main forge code that creates those errors.

Try running the server eith

[2017-10-31 18:57] Lepercy commented on #20
I have Nucleus for 1.10.2 added as well as for configuring i did reconfigure the minimoos a bit. I dont want my players having access to the molten infinity cow easily..... i want this server I am creating to be a HardMode server and I want them to struggle to get this infinity cow. I did change a few other things in the config. will post pastebin below.....   https://pastebin.com/dUVaRPZw

[2017-10-31 20:32] IRicTheCoder commented on #20
@Lepercy I forgot to add this to the config but "I:"Molten Infinity"=0.5" is invalid it can only accept integer numbers, so no decimal values. That should be converted to 1 or 0 as it is done by forge itself.

Setting that to 1 will also make it extremely hard to find, also you can increase the rate of another fluids as that will make infinity even harder to get.

I don't see any more problem then

[2017-11-01 17:49] Lepercy commented on #20
Well, to update you, i reconfigured all the minimoos to where id like them, set infinity to 1 and tried it and got same "null stack error" So then, disabled Sponge, and it loaded. I dont know what I am going to do for the rest of the server if this is how I have to run it, straight forge. I have a lower diffuculty version of this already on just Forge and were having issues doing our Administrativ

[2017-11-01 17:56] Lepercy commented on #20
welp loaded the server, got on started moving around and crash...

01.11 11:54:35 [Server] Server thread/WARN [FML]: ****************************************
01.11 11:54:35 [Server] Server thread/WARN [FML]: *  at java.util.Formatter.format(Unknown Source)...
01.11 11:54:35 [Server] Server thread/WARN [FML]: *  at java.util.Formatter$FormatSpecifier.print(Unknown Source)
01.11 11:54:35 [Server] Se

[2017-11-01 18:25] IRicTheCoder commented on #20
@Lepercy Did you remove or run the game with some fluid that is not present anymore? If you did then it is trying to load a moo that contains a non existent fluid. It might not even be sponge at all.

I forgot to mention this before, so I'm sorry for the trouble it might cause you.

EDIT: I'm going to see if it is possible to prevent this on the mod itself.

[2017-11-02 19:37] chimeralchimera opened #21 "Only Forsaken Moos Spawning in the End"
- [x] I am using a release version of the mod
- [x] I have mods that integrate with this installed:
     - [x] Tinker's Construct
     - [x] Mine Factory Reloaded
     - [x] Mine Addons
     - [x] Moo Fluids
     - [x] Waila
     - [x] Avaritia
- [x] I also have other mods installed
- [x] I have searched for this issue previously and it was either (1) not previously reported, or (2) previously fix

[2017-11-02 20:53] IRicTheCoder commented on #21
@chimeralchimera Send me your config file for the minimoos, it might be a problem there.

[2017-11-02 22:10] chimeralchimera commented on #21
Okay, here you go.
[minimoos.zip](https://github.com/RicardoTheCoder/MiniMoos/files/1439553/minimoos.zip)

[2017-11-03 11:10] IRicTheCoder commented on #21
@chimeralchimera Did you add any new mods to the pack? There isn't a problem in the config, and that is strange because in my server, they keep on spawning with no problem.

[2017-11-03 22:05] chimeralchimera commented on #21
The only thing I've added is Optifine. I would have mentioned it earlier, but I forgot until you asked if I added anything (^_^;). It seems strange that it wouldn't cause any problems with 1.2 but would with 1.3.3 though.

The only other things I can think to mention are that I'm playing on a singleplayer world and that I'm running it through MultiMC because Twitch kept having a bunch of problems,

[2017-11-03 23:12] IRicTheCoder commented on #21
@chimeralchimera I will check that and then I will get back to you. Optifine and MultiMC shouldn't be a problem.

[2017-11-04 23:49] #13 closed

[2017-11-04 23:50] #16 closed

[2017-11-04 23:54] IRicTheCoder commented on #20
@Lepercy This should be fixed in the new version of the mod, if any moo contains a missing fluid or a bugged fluid it will show as "INVALID FLUID -" followed by the fluids registry name. It should not crash anymore but still having invalid fluids could be a problem so you should also check that.

[2017-11-06 03:58] BeastlyNinja11 opened #22 "Compatibility With Extreme Reactors"
There is compatibility with Iskallium Reactors, so do you think you can make it possible to add compatibility (for the Tinkers' Construct casting) for the Yellorium/Yellorite? I couldn't find anything after a few hours of searching. Thanks in advance!

[2017-11-06 13:54] IRicTheCoder commented on #22
@BeastlyNinja11 The Iskallium Reactors and Avaritia Compatibility were only added for the purpose of explaining how to create liquids that can only be obtained by feeding moos with certain items. I'm planning on making those fluids part of another mod I'm making, removing the purpose of having the fluids directly in the moos mods as that is not suppose to happen.

As of this moment I do not plan o

[2017-11-08 14:10] RatchetG95 opened #23 "Crash when in RFTools Dimension"
- [X] I am using a release version of the mod
- [X] I have mods that integrate with this installed:
     - [X] Tinker's Construct
     - [X] Mine Factory Reloaded
     - [X] Mine Addons
     - [X] Moo Fluids
     - [X] Waila
     - [X] Avaritia
- [X] I also have other mods installed
- [X] I have searched for this issue previously and it was either (1) not previously reported, or (2) previously fix

[2017-11-08 14:27] IRicTheCoder commented on #23
@RatchetG95 Updating McJtyLib makes no effect in anything, that lib as nothing to do with my mod. The lib I use is YetAnotherCore.

The problem is because the mod isn't recognizing the type of the dimension you are in, in this exact moment I can't fix it but as soon as I can I will upload a version with that fixed and should work fine with all dimensions, however, the moos that will appear might b

[2017-11-08 14:39] RatchetG95 commented on #23
Thanks for the quick response, if you need anythig else just ask.

[2017-11-09 21:41] #20 closed

[2017-11-09 21:44] IRicTheCoder commented on #21
@chimeralchimera I just uploaded a new version 1.4.1 that should fix those issues. Should be available shortly.

[2017-11-09 21:44] IRicTheCoder commented on #23
@RatchetG95 I just uploaded a new version 1.4.1 that should fix the issue you are having. Should be available shortly.

[2017-11-10 05:51] chimeralchimera commented on #21
Awesome, thanks!

[2017-11-10 05:51] #21 closed

[2017-11-10 11:15] RatchetG95 commented on #23
Updated the mod and everything seems to be working just fine. Thanks.

[2017-11-10 12:17] #23 closed

[2017-11-16 17:06] lDisciple opened #24 "Compatibility with RFTools Dimensions"
- [ ] I am using a release version of the mod
- [x] I have mods that integrate with this installed:
     - [ x] Tinker's Construct
     - [ x] Mine Factory Reloaded
     - [ ] Mine Addons
     - [ x] Moo Fluids
     - [ x] Waila
     - [ ] Avaritia
- [ x] I also have other mods installed
- [ x] I have searched for this issue previously and it was either (1) not previously reported, or (2) previous

[2017-11-18 20:59] IRicTheCoder commented on #24
@lDisciple Update to the new version of the mod, this should be fixed on version 1.4.1 as stated in this issue #23 which is about the exact same thing.

If the problem persists let me know

[2017-11-29 03:20] BrisingrAerowing opened #25 "Breaks with MineAddons 1.3"
- [x] I am using a release version of the mod
- [x] I have mods that integrate with this installed:
     - [x] Tinker's Construct
     - [x] Mine Factory Reloaded
     - [x] Mine Addons
     - [ ] Moo Fluids
     - [x] Waila
     - [x] Avaritia
- [x] I also have other mods installed
- [x] I have searched for this issue previously and it was either (1) not previously reported, or (2) previously fix

[2017-11-30 11:20] IRicTheCoder commented on #25
@BrisingrAerowing Thanks for pointing this out, I'm going to fix it as soon as possible.

[2017-11-30 21:12] #24 closed

[2017-11-30 21:47] IRicTheCoder commented on #25
@BrisingrAerowing Should be fixed in the new version (1.4.2)

[2017-12-01 09:18] Lexon78 opened #26 "Mushroom cows not spawn (only Mini Moo)"
- [x] I am using a release version of the mod
- [x] I have mods that integrate with this installed:
     - [x] Tinker's Construct
     - [x] Mine Factory Reloaded
     - [x] Mine Addons
     - [ ] Moo Fluids
     - [x] Waila
     - [x] Avaritia
- [x] I also have other mods installed
- [x] I have searched for this issue previously and it was either (1) not previously reported, or (2) previously fix

[2017-12-01 14:10] IRicTheCoder commented on #26
@Lexon78 Mini Moos should not be causing problems with those spawns, essencially because it does not change the spawns for mushroom cows. There might be something else causing some interference with the spawns of those cows.

Do you have more mods installed besides those that come with FoolCraft?

[2017-12-01 14:48] Lexon78 commented on #26
I add only this mods to FoolCraft:
ArchitectureCraft-1.7.3-mc1.10.2.jar
ChickenChunks-1.10.2-2.2.0.52-universal.jar
OptiFine_1.10.2_HD_U_E3.jar

My MushroomIslands look like this (my 1st found):
https://youtu.be/dKEC13VHPN0?t=44m

[2017-12-01 15:11] IRicTheCoder commented on #26
@Lexon78 Those mods should not cause any issues, or at least not any I know. Mushroom Cows are harder to find then most mobs, but should not stop spawning because of MiniMoos. I have found mushroom cows on my server with MiniMoos installed without any problems, might be they take longer to spawn because there are other cows spawning there too.

I will however look into this to see if it is in fact

[2017-12-01 15:44] Lexon78 commented on #26
Now i try again on creative map in FoolCraft and i found 3 Mushroom isles only with MiniMoo and 1 Mushroom isle with MiniMoo and Mushroom cow. Then this cow can be generated with mod MiniMoo but its extremly rare.

[2017-12-02 13:29] Enilo opened #27 "Fluid Moos/Demon Moos don't spawn in the Nether"
- [x] I am using a release version of the mod
- [x] I have mods that integrate with this installed:
     - [x] Tinker's Construct
     - [x] Mine Factory Reloaded
     - [x] Mine Addons
     - [ ] Moo Fluids
     - [x] Waila
     - [x] Avaritia
- [x] I also have other mods installed
- [x] I have searched for this issue previously and it was either (1) not previously reported, or (2) **previously f

[2017-12-02 13:30] Enilo commented on #27
I forgot to add: they spawn just fine in the Overworld and in the End.

[2017-12-02 13:42] IRicTheCoder commented on #27
@Enilo Any of your mods change the nether dimension? I took a quick look at the list but didn't notice any mod that does that (or at least not one that I know about). If any of your mods change the nether, that could be the problem.

However, first thing you should check is if in the config file there is liquids added to the Nether list, if there aren't there's the problem.

Second, note that beca

[2017-12-02 13:43] #25 closed

[2017-12-02 13:54] Enilo commented on #27
From what I know: TC adds some Slime Islands, Quark adds Basalt and a new mob, Chickens and More Chickens adds chicken spawns, Cyclic adds ores to the nether, Recurrent Complex adds some structures otherwise I don't think the Nether is changed.

In the config I have many fluids added to the Nether list, I haven't changed this at all so I believe it is the default configuration.

I have tried runni

[2017-12-02 14:01] IRicTheCoder commented on #27
@Enilo I was talking about a mod that would rewrite the nether completly, if there is only things being added there should not be a problem. In my FoolCraft server they spawn fine without much efort, I mentioned the case of chances because if you have a lot of mobs in the nether the chunk mob cap is hit much faster then in other dimensions due to the way spawn works in the nether.

There shouldn't

[2017-12-02 14:19] Enilo commented on #27
So as you said, even in an almost vanilla world they are very rare. Is it possible to change the spawn weight compared to other mobs and in that way raise it super high to see if it's just a problem with them being abnormally rare? I can't find a config option for that and from your code the spawn weight seems hard coded.

[2017-12-02 14:26] IRicTheCoder commented on #27
@Enilo I didn't add a configuration for the spawn weight of fluid moos, because they are based off a certain calculation I made based on the average amount of fluids they could produce. In a vanilla world they shouldn't be rare at all, even in the nether, the problem with the nether isn't something I can fix by changing the spawn rates on that dimension, it as to do with the amount of mobs per chu

[2017-12-02 14:42] Enilo commented on #27
Thank you for looking into it.

In the meantime I was thinking about using In Control! by McJty to up the spawn weight to see if that was the issues, but I can't get it to recognize the entity name. What would be the correct one to use to spawn Fluid Moos? I have tried quite a few combos but maybe it needs an internal name?

[2017-12-02 14:46] IRicTheCoder commented on #27
@Enilo Try "minimoos.fluidmoo" and see if it works. You could also try the class name "EntityFluidMoo". I don't know how In Control works as I haven't looked into it. But if it works by using the name of the entity, one of those should do it.

[2017-12-02 15:55] Enilo commented on #27
"minimoos.fluidmoo" worked just fine, thanks. I will have to use this method for now to get them to spawn normally. I will update this if I find out why they don't spawn correctly.

[2017-12-03 16:03] IRicTheCoder commented on #26
@Lexon78 Just deployed a new version of the mod, moos should no longer spawn on mushroom islands.

[2017-12-03 16:04] IRicTheCoder commented on #27
@Enilo Just deployed a new version of the mod, it should now allows you to configure the rate of fluids moos per dimension.

[2017-12-04 19:16] Enilo commented on #27
I have tried the new version of the mod with a newly generated config file. Also tried upping the spawn rate in the nether to the maximum allowed. Still no difference. I flew around in a new creative world for a few thousand blocks and I didn't see a single Moo in there. This is so weird..

[2017-12-05 14:50] IRicTheCoder commented on #27
@Enilo I have triple checked my code (I haven't yet uploaded the new code to github) and it can't be a problem with my mod, both on my server and on the test environment if I set the rate to 16 or even higher (which breaks somethings) I get only moos in the nether.

However I will give it another look, to see if there is some minor bug in the code that could be exposed by another mod, and cause th

[2017-12-05 20:24] Enilo commented on #27
Until a solution is found; the In Control method of forcing the spawns seems to be working fine for anyone that happens upon the same problem as me.
My only idea was that it had to do with the spawn weights but since it works with the newer version with heightenes spawnrates and also in other modpacks I can't really think of anything else.

[2017-12-11 23:35] Vertigo81 opened #28 "Iskallium/neutronium forced change not working?"
- [x] I am using a release version of the mod
- [x] I have mods that integrate with this installed:
     - [x] Tinker's Construct
     - [x] Mine Factory Reloaded
     - [x] Mine Addons
     - [x] Moo Fluids
     - [x] Waila
     - [x] Avaritia
- [x] I also have other mods installed
- [ ] I have searched for this issue previously and it was either (1) not previously reported, or (2) previously fix

[2017-12-12 00:05] Vertigo81 commented on #28
Update- actually it seems iskallium will work but only on a nether spawned cow?  It failed on the first bunch I tried but eventually worked on a copper cow

[2017-12-13 00:25] IRicTheCoder commented on #28
@Vertigo81 I'm sorry for the delayed response, but those are working fine, the change for a neutronium moo is 1/2000 meaning that you have to atleast feed 2000 piles of neutrons to actually get any chance. Last one I made in my server took me around 3000+ piles of neutrons. It is suppose to be an end game fluid/moo.

Iskallium works in all moos, as those the liquified neutronium. However there are

[2017-12-13 00:41] Vertigo81 commented on #28
Ah, well that’s good.  You may want to put something about it being a chance somewhere in the patch notes though.  There’s no mention.

[2017-12-13 08:08] IRicTheCoder commented on #28
@Vertigo81 Currently I can't edit that but I will get to it as soon as possible. I'm away in a Game Dev Event and won't be back for a few days.

[2017-12-18 15:45] liquid600pgm opened #29 "Can't breed moos."
- [x] I am using a release version of the mod
- [x] I have mods that integrate with this installed:
     - [x] Tinker's Construct
     - [x] Mine Factory Reloaded
     - [x] Mine Addons
     - [ ] Moo Fluids
     - [x] Waila
     - [x] Avaritia
- [x] I also have other mods installed
- [x] I have searched for this issue previously and it was either (1) not previously reported, or (2) previously fix

[2017-12-19 14:54] IRicTheCoder commented on #29
@liquid600pgm I'm going to look into it as soon as I can, thank you for pointing this out.

[2018-01-03 04:58] brisingraerowing commented on #22
You can use CraftTweaker / ModTweaker to allow casting liquid yellorium into blocks and ingots, and allow melting down yellorium things into liquid form. Liquid yellorium is actually added by Extreme Reactors itself (it's what appears in the fuel rods AFAIK).

Here's a simple script to add this:
[code]

This script will work in 1.10.2. ModTweaker for 1.12.2 changed some arguments around and modifi

[2018-02-17 18:08] datitisev opened #30 "Divide by 0 error with Mechanical User in ExtraUtilities2"
- [x] I am using a release version of the mod
- [x] I have mods that integrate with this installed:
     - [x] Tinker's Construct
     - [x] Mine Factory Reloaded
     - [x] Mine Addons
     - [ ] Moo Fluids
     - [x] Waila
     - [x] Avaritia
- [x] I also have other mods installed
- [x] I have searched for this issue previously and it was either (1) not previously reported, or (2) previously fix

[2018-02-22 22:28] IRicTheCoder commented on #30
@datitisev Hi there, I'm sorry for the late response. I will look into this and fix it on the next version for 1.10, it should also be fixed the upcoming version for 1.12.

It is taking a lot longer then I wanted to fix these problems and update the mod cause I have been handling both work and personal issues. Sorry for the inconvenience.

I will get back to you as soon as I have a fix for the pro

[2018-02-23 00:42] dsevillamartin commented on #30
@RicardoTheCoder No problem!

I understand people have their own lives and personal issues.
Glad you'll work on a fix, though. 🙂

[2018-04-04 18:42] #22 closed

[2018-04-04 18:42] #26 closed

[2018-04-04 18:42] #28 closed

[2018-04-23 16:44] BrisingrAerowing opened #31 "1.12.2 crash with MooFluids"
- [x] I am using a release version of the mod
- [x] I have mods that integrate with this installed:
     - [x] Tinker's Construct
     - [ ] Mine Factory Reloaded
     - [ ] Mine Addons
     - [x] Moo Fluids
     - [ ] Waila
     - [ ] Avaritia
     - [ ] Twilight Forest
     - [ ] Aether Legacy
- [x] I also have other mods installed
- [x] I have searched for this issue previously and it was eithe

[2018-04-23 17:38] IRicTheCoder commented on #31
@BrisingrAerowing Thats an easy fix, it will be fixed in the next version, with some other fixes and changes.

Thanks for pointing this out :)

[2018-05-18 18:19] IRicTheCoder commented on #31
@BrisingrAerowing Sorry for the time it took to fix this. Should work now with the new beta version, also update the Yet Another Core so it will ensure you don't it other similar problems.

[2018-05-30 22:57] InfinitysDaughter opened #32 "Config File Wont Save"
- [ x] I am using a release version of the mod
- [ x] I have mods that integrate with this installed:
     - [x ] Tinker's Construct
     - [ ] Mine Factory Reloaded
     - [ ] Mine Addons
     - [ ] Moo Fluids
     - [ ] Waila
     - [ ] Avaritia
     - [ x] Twilight Forest
     - [ ] Aether Legacy
- [ x] I also have other mods installed
- [ x] I have searched for this issue previously and it was

[2018-05-31 09:42] IRicTheCoder commented on #32
@InfinitysDaughter I'm working in a new version of mini moos, that after testing could become a Release version instead of a Beta one. I will look into this, but I have fixed a few problems with the config in the version I'm developing at the moment.

Thanks for the info and I will get back to you as soon as I have found the problem and fixed it.

However can you provide me with the exact configs

[2018-05-31 09:42] #31 closed

[2018-05-31 13:37] InfinitysDaughter commented on #32
Sure thing. And thanks so much for the quick help! ^^

Hurr....it wont let me post the .cfg. Will text work just to upload it?
[minimoos.txt](https://github.com/RicardoTheCoder/MiniMoos/files/2058411/minimoos.txt)

[2018-05-31 13:41] IRicTheCoder commented on #32
@InfinitysDaughter No problem :P

The file appears a bit strange though with a lot of "/par". Did you let Github convert it or did you do it yourself? As that makes it a bit harder to read, if you could please provide a more "clean" file I would appreciate that :)

[2018-05-31 14:24] InfinitysDaughter commented on #32
I'm not sure what you mean. The text file is formatted just like the config file was. Github doesn't give me an option to convert it when I try to upload the .cfg.

I'm not sure what I could do on my end to make it cleaner. ^^;

[2018-05-31 14:32] IRicTheCoder commented on #32
Is this happening to your config file??

As this is how it looks when I open what you sent me

![imagem](https://user-images.githubusercontent.com/13319775/40788377-d2ad6160-64e7-11e8-9931-acb6784fcd6e.png)

[2018-05-31 14:34] InfinitysDaughter commented on #32
No?
![screen shot 2018-05-31 at 9 33 46 am](https://user-images.githubusercontent.com/9778010/40788470-c56ece80-64b5-11e8-8f4b-f80c5563e010.png)

[2018-05-31 14:36] IRicTheCoder commented on #32
@InfinitysDaughter Oh Alright, sorry about that, appears it is a problem on my side when openning or downloading the file, no worries I will fix it and look into the issue you presented :)

[2018-06-13 05:28] BrisingrAerowing opened #33 "[1.12.2] Mooshrooms don't spawn in mushroom islands"
- [ ] I would like to suggest a feature
- [x] I am using a release version of the mod
- [x] I have mods that integrate with this installed:
     - [x] Tinker's Construct
     - [ ] Mine Factory Reloaded
     - [ ] Mine Addons
     - [ ] Moo Fluids
     - [ ] Waila
     - [ ] Avaritia
     - [ ] Twilight Forest
     - [ ] Aether Legacy
- [x] I also have other mods installed
- [x] I have searched fo

[2018-06-13 10:47] IRicTheCoder commented on #33
@BrisingrAerowing Can you provide me with a full list of mods so I can look into them? I've tested this both on singleplayer and on a server and it seems fine during testing, as mooshroooms continue to spawn without an issue.

So I argue that this might be a problem related to some incompatibility between another mod and mine.

Back in #26 I fixed it by removing that biome from the spawning list,

[2018-06-15 15:53] brisingraerowing commented on #33
I managed to find another Mushroom Island in another world, and Mooshrooms spawned there. I noticed that some areas have a major population of one kind of passive mob, and no others spawn there. That might have been what happened here.

[2018-06-15 15:53] #33 closed

[2018-06-16 09:26] IRicTheCoder commented on #33
@BrisingrAerowing Thanks for the reply, also I forgot to mention that I have found that in 1.12 the spawn system has changed and when you have some more entities then vanilla minecraft spawning, it sometimes boosts spawn rates in certain places making it only appear a certain type of mob at a time.

Anyway if you see that mini moos override mooshrooms spawn too many times, I can try and make some

[2018-07-06 19:09] BenjiBanana opened #34 "Crash while loading"
- [ ] I would like to suggest a feature
- [x] I am using a release version of the mod
- [x] I have mods that integrate with this installed:
     - [x] Tinker's Construct
     - [x] Mine Factory Reloaded
     - [x] Mine Addons
     - [x] Moo Fluids
     - [x] Waila
     - [x] Avaritia
     - [ ] Twilight Forest
     - [ ] Aether Legacy
- [x] I also have other mods installed
- [ ] I have searched fo

[2018-09-12 16:16] Colton-Slayden opened #35 "Iskallium Reactors module"
- [ ] I am using a release version of the mod
- [x ] I have mods that integrate with this installed:
     - [x ] Tinker's Construct
     - [ ] Mine Factory Reloaded
     - [ ] Mine Addons
     - [ ] Moo Fluids
     - [ ] Waila
     - [ x] Avaritia
     - [x ] Twilight Forest
     - [ ] Aether Legacy
- [ x] I also have other mods installed
- [ ] I have searched for this issue previously and it was

[2019-10-21 22:40] WillBoy20101 opened #36 "How to fix to where a infinity cow from Avaritia to spawn"
- [x] I am using a release version of the mod
- [x] I have mods that integrate with this installed:
     - [x] Tinker's Construct
     - [x] Mine Factory Reloaded
     - [x] Mine Addons
     - [ ] Moo Fluids
     - [x] Waila
     - [x] Avaritia
     - [ ] Twilight Forest
     - [ ] Aether Legacy
- [x] I also have other mods installed
- [x] I have searched for this issue previously and it was eithe